services:
  web-app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/backend
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
      - redis
      - worker



  db:
    image: postgres:14.6-alpine
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    container_name: pgdb
    ports:
      - 5432:5432
  redis:
    image: redis:alpine

  worker:
    build:
      context: .
    command: >
      sh -c "celery -A todolist worker -l info"
    volumes:
      - ./backend:/backend
    depends_on:
      - redis
      - db

  beat:
    build:
      context: .
    volumes:
      - ./backend:/backend
    command: >
      sh -c "celery -A todolist beat -s /home/celery/var/run/celerybeat-schedule"
    depends_on:
      - worker

