{% extends 'template_app/index.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'todolist/css/user_table.css' %}" rel="stylesheet">
    <section class="about d-flex align-items-center text-light py-5" id="about">
        <div class="container">
            <div class="row d-flex align-items-center">
                <center><h1 class="home_text">Топ пользователей</h1></center>
                <table class="styled-table">
                    <thead>
                    <tr>
                        <td>Ранк</td>
                        <th>Никнейм</th>
                        <th>Очки</th>
                        <th>Подпика</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}
                        <tr class="active-row">
                            <td>{{ user.rank }}</td>
                            <td><a href="{% url 'user' pk=user.id %}">{{ user.username }}</a></td>
                            <td>{{ user.points }}</td>
                            {% if user.is_subscribed %}
                                <td><a href="">Отписаться</a></td>
                            {% elif request.user.username == user.username %}
                                <td><a>Это вы</a></td>
                            {% else %}
                                <td><a href="">Подписаться</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of about -->
{% endblock %}