{% extends 'template_app/index.html' %}
{% load static %}
{% block content %}

   <section class="work d-flex align-items-center py-5" >
        <div class="container-fluid text-light">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right">
                    <img class="img-fluid" src="{% static 'todolist/assets/img/work.jpg' %}" alt="work">
                </div>
                <div class="col-lg-5 d-flex align-items-center px-4 py-3" data-aos="">
                    <div class="row">
                        {% for u in users %}
                        <div class="text-center text-lg-start py-4 pt-lg-0">
                           <h1>Пользователь</h1> <h1 class="home_text">{{ u.username }} </h1>
                        <div class="container" data-aos="fade-up">
                            <div class="row g-5">
                                <div class="col-6 text-start" >
                                    <i class="fas fa-award fa-2x"></i>
                                    <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="{{ u.rank }}" data-purecounter-duration="3">666</h2>
                                    <p>Ранг пользователя</p>
                                </div>
                                <div class="col-6" >
                                    <i class="fas fa-briefcase fa-2x text-start"></i>
                                    <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="{{ u.points }}" data-purecounter-duration="3">1</h2>
                                    <p>Количество поинтов</p>
                                </div>
                                <div class="col-6">
                                    <i class="fas fa-users fa-2x"></i>
                                    <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="{{ u.followers }}" data-purecounter-duration="3">1</h2>
                                    <p>Друзей</p>
                                </div>
                                    <div class="col-6">
                                    <i class="fas fa-users fa-2x"></i>
                                    <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="{{ u.balance }}" data-purecounter-duration="3">1</h2>
                                    <p>Баланс</p>
                                </div>
                            </div>
                        </div> <!-- end of container -->
                    	<a href="{% url 'logout' %}">Выйти</a>
                    	<a href="#">Изменить данные</a>
                        {% endfor %}
                    </div> <!-- end of row -->
                </div> <!-- end of col-lg-5 -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        </div>
    </section> <!-- end of work -->
{% endblock %}